.mo-copy {
    padding:10px 0;
}

.pcp {
    margin-top:15px;
    font-size:11px;
    color: #8c8c8c;
    text-shadow: 0 1px 1px #010101;
    opacity:0.4;
}

.h-box-shadow {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.mo-background {
    background: #3f51b5;
}
.mat-drawer-container {
    background-color: inherit !important;
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.codize-logo {
    max-width:120px;
    height:56px;
}